priority 696969

snippet lia "<li><a>"
<li><a href="$1">$2</a>$3</li>
endsnippet
snippet a
<a href="$1">$2</a>$3
endsnippet
snippet details
<details>
	<summary>
		$1
	</summary>
	<div>
		$2
	</div>
</details>
endsnippet
